{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="fa fa-angle-left"></i></a>
            <br>

            <form class="form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                
                
                <div class="form__field">
                    <label for="formInput#text">Are you sure you want be coaching players? Press confirm!</label>
                </div>
                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
</main>

{% endblock %}